@use "sass:map";
@import '../../sass/_variables.scss';

.postList{
  padding: 0 10px;

}
.post{
  box-shadow: 0px 2px 2px 2px #2f3e46;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  &__title{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
    word-break: break-all;
  }
  &__text{
    word-break: break-all;
  }
  &__button{
    background: transparent;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 8px 14px;
    justify-content: right;
    &_edit{
      color: map.get($colors, '_light-blue');
    }
    &_delete{
      color: map.get($colors, '_red');
    }
  }
  &__options{
    text-align: right;
  }
}

.edit{
  opacity: 1 !important;
  &__input{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 5px;
    border: 0;
    resize: none;
    border: 2px solid rgba(163, 177, 138, 0.5); //gray green
    border-bottom: 2px solid map.get($colors, '_light-green');
    transition: all 0.2s ease-in;
    &:invalid{
      border: 2px solid map.get($colors, '_red');
    }
    &:hover{
      border: 2px solid map.get($colors, '_light-green');
    }
    &:focus{
      border: 2px solid map.get($colors, '_dark-green');
    }
  }
  &__button{
    float: right;
  }
  &__inputName{
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 600;
    color: map.get($colors, '_light-green');
  }
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}