@use "sass:map";
@import '../../sass/_variables.scss';



.bio{

  display: flex;
}
.body{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ava{
  width: 350px;
  > img{
    max-width: 100%;
  }
}
.name{
  font-size: 28px;
  color: map.get($colors, '_green');
  font-weight: 600;
  margin-bottom: 5px;
}
.status{
  font-size: 18px;
  color: map.get($colors, '_light-green');
  padding-left: 2px;
}
.link{
  cursor: pointer;
  margin: 0 5px;
}
.link > img{
  width: 30px;
}
.hidden{
  display: none;
}