@use "sass:map";
@import '../../sass/_variables.scss';



.body{
  padding: 0 20px;
}

.user{
  display: flex;  
  margin-bottom: 30px;
  box-shadow: 0px 2px 2px 2px #2f3e46; //dark-gray
  &:nth-last-child(1){
    margin-bottom: 0;
  }
  &__ava{
    width: 200px;
    min-width: 200px;
    >img{
      max-width: 100%;
    }
  }
  &__body{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__name{
    font-size: 28px;
    color: map.get($colors, '_green');
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__status{
    font-size: 18px;
    color: map.get($colors, '_light-green');
    padding-left: 2px;
  }
}
.pages{
  display: flex;
  margin-bottom: 20px;
}
.page{
  font-size: 22px;
  letter-spacing: -2px;
  text-align: center;
  padding: 5px;
  min-width: 32px;
  height: 32px;
  font-weight: 500;
  cursor: pointer;
  color: map.get($colors, '_light-green');
  &_active{
    font-weight: 600;
    color: map.get($colors, '_milk');
    background: map.get($colors, '_dark-green');
  }
}